 <nav class="main-nav">
    <ul class="topnav" id="myTopnav">
        <li id="xxx"><a [routerLink]="['/home']">Home</a></li>
        <li id="xxx"><a [routerLink]="['/news']">News</a></li>
        <li id="xxx"><a [routerLink]="['/band']">Band</a></li> 
        <li id="xxx"><a [routerLink]="['/music']">Discography</a></li>
        <li id="xxx"><a [routerLink]="['/collectorforgood']">Charity</a></li>
        <li id="xxx"><a [routerLink]="['/story']">Story</a></li>
        

        <li><a [routerLink]="['/contact']">Contact</a></li>
        <li><a href="https://collector-official-band.myshopify.com">Shop</a></li>
        <li><a [routerLink]="['/tour']">Live</a></li>
        <li><a [routerLink]="['/shadowslegions']">Shadow's Legion</a></li>
        <li><a [routerLink]="['/gallery']">Gallery</a></li>
        <li><a [routerLink]="['/tech']">Tech</a></li>


        
        <li class="icon">
          <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
      </li>
  </ul>
</nav> 

<style type="text/css">

.navbar{
	background-color: black;
}

</style>  