<app-menu></app-menu>
<div class="tour-banner">
	<div class="shadow">
		<p class="sectionName"> Spire of Light </p>
	</div>
</div>
<div class="main">
	<h1> Collector For Good </h1>
	<p class="center">  Collector donates 10% of all their earning to charity. This includes earnings from sales, touring, any and everything else. 
	<h2> The Cause We Support </h2>
	<p class="text-body"> We make all our donations towards the education of the less fortunate. There are millions of children wordwide who can not afford 
	a good, or even any, education because of financial obsticles. The number is increasing everyday with today's political conflicts worldwide.
	While we symphatize with every cause in the world including fights against hunger, homelessness, rape, abusive, sexism, racist, global warming, cancer, HIV etc. ;
	our research has proved that manly of the non-profits in these area do not have an elaquent plan of attack and target individual to 'save the day'. While there is no doubt that they still do a great good, we see this as no different than treating the sympthoms of a disease. 
	On the other hand education lays in the core of the many of these problems, whereas others can be hoped to be solved by well educated 
	professionals who are experts in their fields. 
	</p>
	<h2> Donating In The Name Of... </h2>
	<p class="text-body">
		Collector is not just four people. We owe our success and name to our friends and fans who have supported us through each and every step. 
		Unfortunately some these friends are not with us anymore. We make our donations in the name of those fallen souls. For the 'Liberation's Fall' album cycle, we are donating in the name of our dear friend and brother who has given a part of his soul to this album, Warrel Dane.
	</p>
	<h2> When Do You Donate? </h2>
	<p class="text-body">
		We want our donations to make an impact and also help the names of those we have lost live on. Instead of making smaller donations
		as they come, we save our donations until we can make one big donation of a substential amount that is enough to name something 
		after the person in whose name we are making the donation. 

		We see this as our duty. We most certainly are not looking to be applauded or celebrated because of our donations. Therefore you will not 
		see us advertising these donations, posting pictures with large symbolic checks etc. If you for any reason want to see proof of these donations, get in touch with us and we will happily provide what you need.
	</p>
</div>