.body{
  background-color: black !important;
  width: 100%;
  height: 100%;
  text-align: center;
}

.soon{
	color: white;
	margin-top: 5%;
}

.later{
	margin-top: 2%;
}

.tour-banner{
  max-width: 1900px;
  height: 300px;
  background-image: url("./../../fallen.jpg");
  background-repeat: no-repeat;
  background-position: 0% 60%;
  background-size: cover;
  margin-top: -3%; 
} 

.shadow{
	background-color: rgba(0, 0, 0, 0.6);
	max-width: 1900px;
    height: 300px;
    text-align: center;
    vertical-align: middle;
}


.sectionName{
	font-size: 80px;
	color: white;
	padding-top: 80px;
}

.main h1, .center{
    text-align: center;
}

.main{
  color: white;
}


.text-body{
  width: 80%;
}


.main h2{
  margin-top: 5%;
}

.main p, .main h2{
  margin-left: 10%;
}

@media(max-width: 950px){
  .sectionName{
    font-size: 75px;
  }

  .main h1{
    font-size: 28px;
  }

  .main h2{
    font-size: 22px;
  }

  .center{
    font-size: 14px;
  }

  .text-body{
    font-size: 14px;
  }
}

@media(max-width: 700px){
  .sectionName{
    font-size: 70px;
  }

  .news-title{
    font-size: 18px;
  }

  .news-summary{
    font-size: 15px;
  }

  .news-date{
    color: white;
    font-size: 13px;
  }

  .news-border{
    border-top: 2px solid white;
  }
}

@media(max-width: 530px){
   .sectionName{
    font-size: 60px;
  }

  .main h1{
    font-size: 26px;
  }

  .main h2{
    font-size: 20px;
  }

  .center{
    font-size: 14px;
  }

  .text-body{
    font-size: 14px;
  }
}