.body{
  background-color: black !important;
  width: 100%;
  height: 100%;
  text-align: center;
}

.wrap{
}

.soon{
	color: white;
	margin-top: 5%;
}

.later{
	margin-top: 2%;
}

.tour-banner{
  height: 300px;
  background-image: url("./../../bandfullfinal.jpg");
  background-repeat: no-repeat;
  background-position: 0% 35%;
  background-size: cover;
  margin-top: -3%; 
} 

.shadow{
	background-color: rgba(0, 0, 0, 0.6);
  height: 300px;
  text-align: center;
  vertical-align: middle;
}

.sectionName{
	font-size: 80px;
	color: white;
	padding-top: 80px;
}

.members{
  margin-top: 5%;
}

.member{
  width: 100% !important;
  display: block !important;
  margin-top: 2%;
  height: 300px;
}

.tab{
  color: white;
  text-align: left;
}

.member-picture{
  width: 15%;
  float: left;
  margin-left: 5%;
  min-width: 190px;
}

.main{
  text-align: center;
   max-width: 1920px;
}

.tabs{
  width: 60%;
  margin-left: 25% !important;
}

.bio{
  width: 70%;
  margin-left: 15%;
}

.main h2, .bio{
  color: white;
}

@media(min-width: 1850px){
  .main{
     margin: auto;
     margin-top: 5% !important;
     padding: 10px;
  }
}

@media(min-width: 1650px){
  .member{
    margin-top: 8%;
  }
}

@media(min-width: 1400px) and (max-width: 1650px){
  .member{
    margin-top: 5%;
  }
}

@media(max-width: 1010px){
  .tabs{
    margin-left: 33% !important;
  }

  .tab{
    font-size: 15px;
  }
}

@media(max-width: 950px){
  .sectionName{
    font-size: 75px;
  }
}

@media(max-width: 750px){
  .tabs{
    margin-left: 35% !important;
  }

  .tab{
    font-size: 14px;
  }
}

@media(max-width: 700px){
  .sectionName{
    font-size: 70px;
  }

  .member-picture{
    display: block;
    float: none;
    margin-left: 25%;
    overflow: auto;
  }

  .tabs{
    margin-left: 5% !important;
    display: block;
    width: 90%;
    overflow: auto;
  }

  .member:not(:first-child) {
    margin-top: 400px;
  }
}

@media(max-width: 530px){
   .sectionName{
    font-size: 68px;
  }
}